*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/*
 here goes the navigation bar
 */

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.8rem 2rem;

    background: rgba(64,93,171,255);
}
.companyphoto{
    height: 8vh;
    width: 40vh;
}
header .navbar ul{
    display: flex;
    justify-content: center;
    align-items: center;

    list-style: none;
    gap: 4rem;
    padding: 0 3rem;
    font-family: 'Poppins', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
}
header .navbar .navbar-link{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.mobile-navbar-btn{
    font-size: 2rem;
    display: none;
    color: #fff;
}
.mobile-navbar-btn .close[name="close"]{
    display: none;
}
.navbar ul li::after{
    content:"";
    width: 0%;
    height: 2px;
    background:rgb(255, 255, 255);
    display: block;
    margin: auto;
    transition: 0.3s;
}
header .navbar :hover:after{
    width: 100%;
}


/* 
here goes the main content 
*/

.front-heading{
    background-image: url("first-background.jpg");
    background-size: cover;
    background-position: center;
    height: 72vh;
    padding: 0 5rem;
    gap: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;   
}
.heading-title{
    display: flex;
    justify-content: center;
    align-items: last baseline;
    flex-direction: column;
    gap: 2rem;
    width: 65%;
}
.front-heading h1{
    text-transform: uppercase;
    font-size: 2rem;
    font-family: 'Libre Franklin', sans-serif;
    letter-spacing: 0.2rem;
    color: rgb(255, 255, 255);
}
.front-heading .para{
    font-size: 1.2rem;
    text-align: left;
    font-family: 'Poppins', sans-serif;
    color: white;
}
.front-heading .mail-btn a{
    text-decoration: none;
    color: rgb(255, 255, 255);

}
.front-heading .mail-btn{
    padding: 1rem 1.2rem;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    text-align: left;

    font-size: 1.5rem;
}
.mail-btn label{
    /* font-size: 1.5rem; */
    color: white;
    font-family: 'Poppins', sans-serif;

}
.mail-btn input{
    height: 7vh;
    width: 60vh;
    border-radius: 10px;
    text-align: center;

    font-size: 1.5rem;
    color: black;
    font-family: 'Poppins', sans-serif;
}
.mail-btn button{
    height: 7vh;
    width: 8vh;
    border-radius: 10px;

    font-size: 1.5rem;
    color: black;
    font-family: 'Poppins', sans-serif;
}

.partnership-logos{
    background: #cfd4de;
    height: 16.5vh;
    padding: 0 5rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.partnership-logos h1{
    font-family: 'Libre Franklin', sans-serif;
    font-size: 2rem;
}
.partnership-logos .logos .logo{
    height: 15vh;
}
.logos{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
}

/* slideshow */

.slider{
    width: 70vh;
    height: 50vh;
    margin: auto;
    position: relative;
    overflow: hidden;

    outline-width: 0px;
    outline-color: #ffffff;
    outline-style:auto;
}
.list{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    transition: 1s;
    gap: 10rem;
}
.list img{
    width: 35vh;
    height: 35vh;
    /* object-fit: cover; */
    position: relative;
    left: 9rem;
    top: 0rem;
}
.list .item .second{
    width: 30vh;
}
.list .item .first{
    width: 40vh;
}
.buttons{
    position: absolute;
    top: 45%;
    left: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.buttons button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff5;
    color: white;
    border: none;
    font-family: monospace;
    font-weight: bold;
    font-size: 2rem;
}
.dots{
    position: absolute;
    bottom: 10px;
    color: #ffffff;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.dots li{
    list-style: none;
    width: 10px;
    height: 10px;
    margin: 10px;
    background-color: #fff5;
    border-radius: 20px;
    transition: 0.5s;
}
.dots li.active{
    width: 30px;
}

/* catalogue section  */

.catalogue{
    background: #cfd4de;
    height: 30vh;

    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
}
.catalogue h1{
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: 'Poppins', sans-serif;
}
.btn-catalogue a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;

}
.btn-catalogue{
    padding: .6rem 1.2rem;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    background: black;

    font-size: 30px;
    outline-width: 5px;
    outline-color: #000000;
    outline-style:auto;
}
.btn-catalogue:hover{
    background: rgba(64,93,171,255);
}

/* second page about us  */

.aboutus{
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 2rem 3rem;
    gap: 10rem;
    height: 60vh;
}
.aboutus h3{
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
}
.aboutus p{
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
}
.aboutus .logo{
    width: 55vh;
}

/*
adding css to the section containing product range
*/

.products{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding: 2rem;
    background: rgba(64,93,171,255);
}
.products h1{
    padding: 4rem;
    font-size: 2rem;
    font-family: 'Rubik', sans-serif;
    color: white;
}
.product-range{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5rem;
    padding: 0 5rem;
}
.r{
    height: 55vh;
    width: 50vh;

    outline-width: 5px;
    outline-color: #000000;
    outline-style:auto;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    background: rgb(255, 255, 255);
}
.r .img1{
    width: 40vh;
}
.r .img2{
    width: 25vh;
}
.r .img3{
    width: 30vh;
}
.r h2{
    text-align: center;
    font-size: 1.2rem;
}
.products h1 hr{
    height: 4px;
    background: rgb(255, 255, 255);
    border: none;
}

/* footer section  */

footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    padding: 4rem 5rem 2rem 5rem ;
}
footer .col{
    display: flex;
    flex-direction: column;

    align-items: flex-start;
    margin-bottom: 20px;
}
footer h1{
    margin-bottom: 30px;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 2rem;
}
footer h4{
    font-size: 2rem;
    padding-bottom: 20px;
    font-family: 'Libre Franklin', sans-serif;
}
footer p,li{
    font-size: 1.2rem;
    padding: 0 0 8px 0;
    font-family: 'Poppins', sans-serif;
}
footer li{
    list-style: none;
}
footer a{
    font-size: 1.2rem;
    text-decoration: none;
    color: #000000;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;

}
footer .follow{
    margin-top: 20px;
}
footer .follow i{
    font-size: 30px;
    padding-right: 4px;
    cursor: pointer;
}
footer .install .row i{
    padding: 2rem 2rem;
    font-size: 50px;
    border: 10px solid grey;
    border-radius: 6px;
}
footer .install i{
    margin: 10px 0 15px 0;
}
footer .install{
    align-items: center;
}
footer li{
    padding: 0 0 0px 0;
}

/* popup window */

.popup-screen{
    z-index: 999999999999999999;
    position: fixed;
    backdrop-filter: blur(10px);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    transition: 0.5s ease;
    transition-property: visibility;
}
.popup-screen.active{
    visibility: visible;
}
.popup-box{
    position: relative;
    background: whitesmoke;
    backdrop-filter: blur(10px);
    /* max-width: 350px; */
    width: 120vh;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    margin: 20px;
    padding: 50px 60px;
    border-radius: 20px;
    box-shadow: 0 5px 2px rgb(0, 0, 0 / 20%);
    transition: 0.5s ease;
    transition-property: transform;
}

.popup-box h1{
    font-size: 2.1rem;
    font-weight: 800;
    margin-bottom: 20px;
}
.popup-box .close{
    font-size: 2rem;
    font-weight: 800;
    position: absolute;
    top: 0;
    right: 0;
    margin: 15px;
    cursor: pointer;
    opacity: 0.5;
    transition: 0.3s ease-out;
    transition-property: opacity;
}
.close:hover{
    opacity: 1;
}
.popup-box a{
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
    padding: 4px;
}
.hr-class{
    width: 100%;
    background-color: #aeabab;
    height: 3px;
}
/* applying media queries */

@media (max-width: 1250px){
    header .navbar ul{
        list-style: none;
        gap: 3rem;
        padding: 0 3rem;
        font-family: 'Poppins', sans-serif;
        color: rgb(255, 255, 255);
        font-size: 1rem;
    }
    .front-heading h1{
        text-transform: uppercase;
        font-size: 1.5rem;
        font-family: 'Libre Franklin', sans-serif;
        letter-spacing: 0.2rem;
        color: rgb(255, 255, 255);
    }
    .front-heading .para{
        font-size: 1rem;
        text-align: left;
        font-family: 'Poppins', sans-serif;
        color: white;
    }
    .front-heading .mail-btn a{
        text-decoration: none;
        color: rgb(255, 255, 255);
    
    }
    .front-heading .mail-btn{
        padding: 1rem 1.2rem;
        font-family: 'Poppins', sans-serif;
        text-transform: uppercase;
        text-align: left;
    
        font-size: 1.2rem;
    }
    .mail-btn label{
        /* font-size: 1.5rem; */
        color: white;
        font-family: 'Poppins', sans-serif;
    
    }
    .mail-btn input{
        height: 7vh;
        width: 60vh;
        border-radius: 10px;
        text-align: center;
    
        font-size: 1rem;
        color: black;
        font-family: 'Poppins', sans-serif;
    }
    .mail-btn button{
        height: 7vh;
        width: 8vh;
        border-radius: 10px;
    
        font-size: 1.1rem;
        color: black;
        font-family: 'Poppins', sans-serif;
    }
    .list img{
        width: 30vh;
        height: 25vh;
        object-fit: cover;
        position: relative;
        left: 7rem;
        top: 0rem;
    }
    .partnership-logos h1{
        font-family: 'Libre Franklin', sans-serif;
        font-size: 1.7rem;
    }
    .catalogue{
        background: #cfd4de;
        height: 50vh;
    
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        gap: 2rem;
        padding: 2rem;
    }
    .catalogue h1{
        font-size: 2.4rem;
        text-transform: uppercase;
        letter-spacing: 3px;
        font-family: 'Poppins', sans-serif;
    }
    .popup-box a{
        text-decoration: none;
        color: black;
        font-size: 1rem;
        font-family: 'Poppins', sans-serif;
        padding: 4px;
    }
    .aboutus{
        display: flex;
        justify-content: center;
        align-items: center;
    
        padding: 2rem 3rem;
        gap: 10rem;
        height: 80vh;
    }
    .aboutus h3{
        font-family: 'Poppins', sans-serif;
        font-size: 2rem;
    }
    .aboutus p{
        font-family: 'Poppins', sans-serif;
        font-size: 1rem;
    }
    .products{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    
        padding: 2rem;
        background: rgba(64,93,171,255);
    }
    .products h1{
        padding: 4rem;
        font-size: 2.5rem;
        font-family: 'Rubik', sans-serif;
        color: white;
    }
    .product-range{
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 5rem;
        padding: 0 5rem;
    }
    .r{
        height: 60vh;
        width: 55vh;
    
        outline-width: 5px;
        outline-color: #000000;
        outline-style:auto;
    
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
    
        background: rgb(255, 255, 255);
    }
    .r h2{
        text-align: center;
        font-size: 1rem;
    }
    footer h1{
        margin-bottom: 2.5rem;
        font-family: 'Libre Franklin', sans-serif;
    }
    footer h4{
        font-size: 1.5rem;
        padding-bottom: 20px;
        font-family: 'Libre Franklin', sans-serif;
    }
    footer p,li{
        font-size: 1rem;
        padding: 0 0 8px 0;
        font-family: 'Poppins', sans-serif;
    }
    footer a{
        font-size: 1rem;
        text-decoration: none;
        color: #000000;
        margin-bottom: 10px;
        font-family: 'Poppins', sans-serif;
    }
    footer .install{
        position: absolute;
        left: 76%;
        top: 410%;
    }
}
@media (max-width: 1020px){
    .r{
            height: 45vh;
            width: 40vh;
        
            outline-width: 5px;
            outline-color: #000000;
            outline-style:auto;
        
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: column;
        
            background: rgb(255, 255, 255);
        }
        .r .img{
            width: 20vh;
        }

}
    @media (max-width: 750px){
        nav{
            position: absolute;
            top: 12%;
            left: -100%;
            width: 100%;
            height: 100vh;
            background: rgb(0, 0, 0);
    
            display: flex;
            justify-content: center;
            align-items: top;
    
            transform: translateX(100%);
            transition: all 0.3s linear;
    
            opacity: 0;
            visibility: hidden;
            pointer-events: none;
            overflow-x: hidden;
        }
        .navbar-list{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items:center;
    
            position: relative;
            top: 20%;
        } 
        .mobile-navbar-btn{
            display: block;
            z-index: 9999;
        }
        .active nav{
            opacity: 1;
            visibility: visible;
            pointer-events: auto;
            transform: translateX(0);
            z-index: 999;
            left: 0%;
        }
        .active nav .navbar a{
            color: rgb(255, 255, 255);
        }
        .active .mobile-navbar-btn .close{
            display: block;
            color: rgb(255, 255, 255);
        }
        .active .mobile-navbar-btn .menu{
            display: none;
        }
        .front-heading{
            background-image: url("first-background.jpg");
            background-size: cover;
            background-position: center;
            height: 72vh;
            padding: 1rem 2rem;
            gap: 3rem;
        
            display: flex;
            justify-content: center;
            align-items: center;   
        }
        .front-heading h1{
            text-transform: uppercase;
            font-size: 1.2rem;
            font-family: 'Libre Franklin', sans-serif;
            letter-spacing: 0.2rem;
            color: rgb(255, 255, 255);
        }
        .front-heading .para{
            font-size: 0.8rem;
            text-align: left;
            font-family: 'Poppins', sans-serif;
            color: white;
        }
        .heading-title{
    width: 100%;
}
        .list img{
            width: 30vh;
            height: 25vh;
            object-fit: cover;
            position: relative;
            left: 3.5rem;
            top: 0rem;
        }
        .buttons button{
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: #fff5;
            color: white;
            border: none;
            font-family: monospace;
            font-weight: bold;
        }
        .partnership-logos h1{
            font-family: 'Libre Franklin', sans-serif;
            font-size: 1.5rem;
        }
        .logos{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 2rem;
        }      
        .catalogue h1{
            font-size: 2rem;
            text-transform: uppercase;
            letter-spacing: 3px;
            font-family: 'Poppins', sans-serif;
        }  
        .catalogue{
            gap: 1rem;
            height: 35vh;
        }
        .btn-catalogue{
            padding: .6rem 1.2rem;
            font-family: 'Poppins', sans-serif;
            text-transform: uppercase;
            background: black;
        
            font-size: 2rem;
            outline-width: 5px;
            outline-color: #000000;
            outline-style:auto;
        }
        .popup-box a{
            text-decoration: none;
            color: black;
            font-size: 1rem;
            font-family: 'Poppins', sans-serif;
            padding: 4px;
        }
        .aboutus{
            display: flex;
            justify-content: center;
            align-items: center;
        
            padding: 2rem 2rem;
            gap: 2rem;
            height: 80vh;
        }
        .aboutus h3{
            font-family: 'Poppins', sans-serif;
            font-size: 1.5rem;
        }
        .aboutus p{
            font-family: 'Poppins', sans-serif;
            font-size: 0.8rem;
        }
        .aboutus .logo{
            width: 45vh;
        }
        .products{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        
            padding: 2rem;
            background: rgba(64,93,171,255);
        }
        .products h1{
            padding: 2rem;
            font-size: 2rem;
            font-family: 'Rubik', sans-serif;
            color: white;
        }
        .product-range{
            display: flex;
            justify-content: space-around;
            align-items: center;
            gap: 2rem;
            padding: 0 5rem;
        }
        .r{
            height: 40vh;
            width: 35vh;
        
            outline-width: 5px;
            outline-color: #000000;
            outline-style:auto;
        
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: column;
        
            background: rgb(255, 255, 255);
        }
        .r h2{
            text-align: center;
            font-size: 0.8rem;
        }
        .r .img{
            width: 20vh;
        }
        footer h1{
            margin-bottom: 2rem;
            font-family: 'Libre Franklin', sans-serif;
            font-size: 1.8rem;
        }
        footer h4{
            font-size: 1rem;
            padding-bottom: 20px;
            font-family: 'Libre Franklin', sans-serif;
        }
        footer p,li{
            font-size: 0.7rem;
            padding: 0 0 8px 0;
            font-family: 'Poppins', sans-serif;
        }
        footer a{
            font-size: 0.7rem;
            text-decoration: none;
            color: #000000;
            margin-bottom: 10px;
            font-family: 'Poppins', sans-serif;
        }
        footer .install{
            position: absolute;
            left: 60%;
            top: 378%;
        }
        .partnership{
            position: absolute;
            left: 60%;
            top: 348%;
        }
    }
@media (max-width: 480px){
    .companyphoto{
        height: 8vh;
        width: 30vh;
    }
    .heading-title{
    width: 100%;
}
    .front-heading{
        background-image: url("first-background.jpg");
        background-size: cover;
        background-position: center;
        height: 130vh;
        padding: 3.5rem 2rem;
        gap: 0rem;
    
        display: flex;
        justify-content: center;
        align-items: center; 
        flex-direction: column;  
    }
    .heading-title{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;    
        width: 100%;
    }
    .front-heading h1{
        text-transform: uppercase;
        font-size: 1.5rem;
        text-align: center;
        font-family: 'Libre Franklin', sans-serif;
        letter-spacing: 0.2rem;
        color: rgb(255, 255, 255);
    }
    .front-heading .para{
        font-size: 0.8rem;
        text-align: center;
        font-family: 'Poppins', sans-serif;
        color: white;
    }
    .slider{
        width: 60vh;
        height: 50vh;
        margin: auto;
        position: relative;
        overflow: hidden;
    
        outline-width: 50px;
        outline-color: #ffffff;
        outline-style:auto;
    }
    .list img{
        width: 30vh;
        height: 25vh;
        object-fit: cover;
        position: relative;
        left: 5rem;
        top: 0rem;
    }
    .front-heading .mail-btn{
        padding: 1rem 1.2rem;
        font-family: 'Poppins', sans-serif;
        text-transform: uppercase;
        text-align: center;
    
        font-size: 1.5rem;
    }
    .partnership-logos h1{
        font-family: 'Libre Franklin', sans-serif;
        font-size: 1.2rem;
    }
    .partnership-logos{
        padding: 0 1rem;
        gap: 3rem;
    }
    .partnership-logos .logos .logo{
        height: 10vh;
    }
    .logos{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
    .catalogue{
        background: #cfd4de;
        height: 25vh;
    
        display: flex;
        justify-content: start;
        align-items: center;
        flex-direction: column;
        gap: 2rem;
        padding: 2rem;
    }
    .catalogue h1{
        font-size: 1.5rem;
        text-transform: uppercase;
        letter-spacing: 3px;
        font-family: 'Poppins', sans-serif;
    }
    .btn-catalogue a{
        text-decoration: none;
        color: rgb(255, 255, 255);
        font-family: 'Poppins', sans-serif;
    
    }
    .btn-catalogue{
        padding: .6rem 1.2rem;
        font-family: 'Poppins', sans-serif;
        text-transform: uppercase;
        background: black;
    
        font-size: 1rem;
        outline-width: 5px;
        outline-color: #000000;
        outline-style:auto;
    }
    .popup-box a{
        text-decoration: none;
        color: black;
        font-size: 0.7rem;
        font-family: 'Poppins', sans-serif;
        padding: 4px;
    }
    .aboutus{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    
        padding: 2.5rem 3rem;
        gap: 1rem;
        height: 80vh;
    }
    .aboutus h3{
        font-family: 'Poppins', sans-serif;
        font-size: 1.5rem;
        text-align: center;
    }
    .aboutus p{
        font-family: 'Poppins', sans-serif;
        font-size: 0.7rem;
        text-align: center;
    }
    .aboutus .logo{
        width: 40vh;
    }
    .products{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        padding: 2rem;
        background: rgba(64,93,171,255);
    }
    .products h1{
        padding: 2rem;
        font-size: 1.5rem;
        font-family: 'Rubik', sans-serif;
        color: white;
        text-align: center;
    }
    .product-range{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        gap: 2rem;
        padding: 0 5rem;
    }
    .r{
        height: 40vh;
        width: 40vh;

        outline-width: 5px;
        outline-color: #000000;
        outline-style:auto;

        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;

        background: rgb(255, 255, 255);
    }
    .r h2{
        text-align: center;
    }
    .partnership{
        position: relative;
        left: 0%;
    }
    footer .install{
        position: relative;
        left: 0%;
    }
    footer .install .row i{
        padding: 1rem 1rem;
        font-size: 40px;
        border: 10px solid grey;
        border-radius: 6px;
    }
}
@media (max-width: 425px){
    .front-heading{
        gap: 0rem;
        height: 120vh;
    }
    .heading-title{
    width: 100%;
}
    .front-heading h1{
        padding: 0 1rem;
        text-transform: uppercase;
        font-size: 1.2rem;
        text-align: center;
        font-family: 'Libre Franklin', sans-serif;
        letter-spacing: 0.1rem;
        color: rgb(255, 255, 255);
    }
    .front-heading .para{
        padding: 0 0.7rem;
        font-size: 0.8rem;
        text-align: center;
        font-family: 'Poppins', sans-serif;
        color: white;
    }
    .front-heading .mail-btn{
        font-size: 1rem;
    }
    .mail-btn label{
        /* font-size: 1.5rem; */
        color: white;
        font-family: 'Poppins', sans-serif;
    
    }
    .mail-btn input{
        font-size: 0.8rem;
    }
    .mail-btn button{
        font-size: 1.1rem;
    }
    .slider{
        width: 55vh;
        height: 50vh;
    }
}
@media (max-width: 375px){
    .front-heading{
        background-image: url("first-background.jpg");
        background-size: cover;
        background-position: center;
        height: 110vh;
        padding: rem 2rem;
        gap: 0rem;
    
        display: flex;
        justify-content: center;
        align-items: center; 
        flex-direction: column;  
    }
    .heading-title{
    width: 100%;
}
    .front-heading h1{
        padding: 0 1rem;
        text-transform: uppercase;
        font-size: 1.2rem;
        text-align: center;
        font-family: 'Libre Franklin', sans-serif;
        letter-spacing: 0.1rem;
        color: rgb(255, 255, 255);
    }
    .front-heading .para{
        padding: 0 2rem;
        font-size: 0.6rem;
        text-align: center;
        font-family: 'Poppins', sans-serif;
        color: white;
    }
    .front-heading .mail-btn{
        font-size: 1rem;
    }
    .mail-btn label{
        /* font-size: 1.5rem; */
        color: white;
        font-family: 'Poppins', sans-serif;
    
    }
    .mail-btn input{
        font-size: 0.8rem;
        height: 7vh;
        width: 44vh;
    }
    .mail-btn button{
        font-size: 1.1rem;
    }
    .slider{
        width: 40vh;
        height: 40vh;
    }
    .list img{
        width: 20vh;
        height: 25vh;
        object-fit: cover;
        position: relative;
        left: 3.6rem;
        top: 0rem;
    }
    .buttons{
        position: absolute;
        top: 45%;
        left: 1%;
        width: 98.5%;
        display: flex;
        justify-content: space-between;
    }
    .buttons button{
        border-radius: 50%;
        background-color: #fff5;
        color: white;
        border: none;
        font-family: monospace;
        font-weight: bold;
    }
}
