*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}
/*
 here goes the navigation bar
 */

 header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.8rem 2rem;

    background: rgba(64,93,171,255);
}
.companyphoto{
    height: 8vh;
    width: 40vh;
}
header .navbar ul{
    display: flex;
    justify-content: center;
    align-items: center;

    list-style: none;
    gap: 4rem;
    padding: 0 3rem;
    font-family: 'Poppins', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
}
header .navbar .navbar-link{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.mobile-navbar-btn{
    font-size: 2rem;
    display: none;
    color: #fff;
}
.mobile-navbar-btn .close[name="close"]{
    display: none;
}
.navbar ul li::after{
    content:"";
    width: 0%;
    height: 2px;
    background:rgb(255, 255, 255);
    display: block;
    margin: auto;
    transition: 0.3s;
}
header .navbar :hover:after{
    width: 100%;
}

/* 
here goes the main content 
*/

.front-heading{
    background-image: url("./photos/first-background.jpg");
    background-size: cover;
    background-position: center;
    height: 72vh;
    padding: 0 5rem;
    gap: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;   
}
.heading-title{
    display: flex;
    justify-content: center;
    align-items: last baseline;
    flex-direction: column;
    gap: 2rem;
    width: 65%;
}
.front-heading h1{
    text-transform: uppercase;
    font-size: 2rem;
    font-family: 'Libre Franklin', sans-serif;
    letter-spacing: 0.2rem;
    color: rgb(255, 255, 255);
}
.front-heading .para{
    font-size: 1.2rem;
    text-align: left;
    font-family: 'Poppins', sans-serif;
    color: white;
}

.partnership-logos{
    background: #cfd4de;
    height: 16.5vh;
    padding: 0 5rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.partnership-logos h1{
    font-family: 'Libre Franklin', sans-serif;
    font-size: 1.5rem;
}
.partnership-logos .logos .logo{
    height: 15vh;
}
.logos{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
}

/* slideshow */

.slider{
    width: 70vh;
    height: 50vh;
    margin: auto;
    position: relative;
    overflow: hidden;

}
.list{
    position: absolute;
    top: 0;
    left: 0rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    transition: 1s;
    gap: 10rem;
}
.list img{
    width: 35vh;
    height: 35vh;
    position: relative;
    left: 8rem;
    top: 0rem;
}
.buttons{
    position: absolute;
    top: 45%;
    left: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.buttons button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff5;
    color: white;
    border: none;
    font-family: monospace;
    font-weight: bold;
    font-size: 2rem;
}
.dots{
    position: absolute;
    bottom: 10px;
    color: #ffffff;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.dots li{
    list-style: none;
    width: 10px;
    height: 10px;
    margin: 10px;
    background-color: #fff5;
    border-radius: 20px;
    transition: 0.5s;
}
.dots li.active{
    width: 30px;
}

/* catalogue section  */
.grid-container{
    height: 15rem;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}
.grid{
    display: grid;
    padding: 0 5rem 0 5rem;
    /* height: 100vh; */
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    grid-gap: 3rem;
    margin-top: 70vh;
}
.box{
    padding: 20px;
    background-color: rgb(237, 235, 235);
    border: 1px solid rgb(138, 137, 137);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}
.full-width-box{
    grid-column: 1 / span 2;
}
.cata-p{
    font-size: large;
    font-family: 'Poppins', sans-serif;
}
.cata-photo{
    height: 14rem;
}
.cata-down-button{
    border: 1px solid rgb(0, 0, 0);
    height: 3rem;
    width: 10rem;
    font-size: larger;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
}
.cata-down-button:hover{
    background: rgba(64,93,171,255);
}
/* fbADEBV */
.catalogue{
    background: #cfd4de;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
    padding: 2rem;
    overflow: hidden;
}
.catalogue h1{
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: 'Poppins', sans-serif;
}
.btn-catalogue a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;

}
.btn-catalogue{
    padding: .6rem 1.2rem;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    background: black;

    font-size: 1.5rem;
    outline-width: 5px;
    outline-color: #000000;
    outline-style:auto;
}
.btn-catalogue:hover{
    background: rgba(64,93,171,255);
}


/* second page about us  */

.aboutus{
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 5rem 3rem;
    gap: 10rem;
}
.aboutus h3{
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
}
.aboutus p{
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
}
.aboutus .logo{
    width: 55vh;
}
/*
adding css to the section containing product range
*/

.products{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding: 2rem;
    background: rgba(64,93,171,255);
}
.products h1{
    padding: 4rem;
    font-size: 2rem;
    font-family: 'Rubik', sans-serif;
    color: white;
}
.product-range{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    padding: 0 5rem;
}
.r{
    height: 52vh;
    width: 43vh;

    outline-width: 5px;
    outline-color: #000000;
    outline-style:auto;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    background: rgb(255, 255, 255);
}
.r .img1{
    width: 40vh;
}
.r .img2{
    width: 25vh;
}
.r .img3{
    width: 30vh;
}
.r h2{
    text-align: center;
    font-size: 1.2rem;
}
.products h1 hr{
    height: 3px;
    background: rgb(255, 255, 255);
    border: none;
}

/* footer section  */

footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    padding: 4rem 5rem 2rem 5rem ;
}
footer .col{
    display: flex;
    flex-direction: column;

    align-items: flex-start;
    margin-bottom: 20px;
}
footer h1{
    margin-bottom: 30px;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 2rem;
    color: rgba(64,93,171,255);
}
footer h4{
    font-size: 2rem;
    padding-bottom: 20px;
    font-family: 'Libre Franklin', sans-serif;
    color: rgba(64,93,171,255);
}
footer p,li{
    font-size: 1.2rem;
    padding: 0 0 8px 0;
    font-family: 'Poppins', sans-serif;
}
footer li{
    list-style: none;
}
footer a{
    font-size: 1.2rem;
    text-decoration: none;
    color: #000000;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
}
footer .follow{
    margin-top: 20px;
}
footer .follow i{
    font-size: 30px;
    padding-right: 4px;
    cursor: pointer;
}
footer .install .row i{
    padding: 2rem 2rem;
    font-size: 40px;
    border: 10px solid grey;
    border-radius: 6px;
}
footer .install i{
    margin: 10px 0 15px 0;
}
footer .install{
    align-items: center;
}
footer li{
    padding: 0 0 0px 0;
}

/* popup window */

.popup-screen{
    z-index: 999999999999999999;
    position: fixed;
    backdrop-filter: blur(10px);
    width: 100%;
    /* height: 200vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    transition: 0.5s ease;
    transition-property: visibility;
    overflow: auto;
    max-height: 200vh;
}
.popup-screen{
    width: 100%;
}
.popup-screen.active{
    visibility: visible;
}
.popup-box{
    position: relative;
    background: whitesmoke;
    backdrop-filter: blur(10px);
    /* max-width: 350px; */
    /* height: 200vh; */
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    margin: 20px;
    padding: 50px 60px;
    border-radius: 20px;
    box-shadow: 0 5px 2px rgb(0, 0, 0 / 20%);
    transition: 0.5s ease;
    transition-property: transform;

    width: 100%;
    overflow: auto;
    max-height: 720px;
}

.popup-box .close{
    font-size: 2.5rem;
    font-weight: 800;
    position: absolute;
    top: 0;
    right: 0;
    margin: 15px;
    cursor: pointer;
    opacity: 0.5;
    transition: 0.3s ease-out;
    transition-property: opacity;
}
.close:hover{
    opacity: 1;
    color: #000000;
}
.popup-box a{
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
    padding: 4px;
}
.hr-class{
    width: 100%;
    background-color: #aeabab;
    height: 3px;
}

/* media queries */

/*media query for catalogue popup  */
@media only screen and (min-width: 1200px){
    .grid{
        grid-template-columns: 1fr 1fr;
        padding: 2rem;
        grid-gap: 2rem;
        margin-top: 160vh;
        margin-bottom: 10vh;
        margin-left: -5vh;
    }
    .grid-container{
        height: 15rem;
    }
}
@media only screen and (max-width: 1100px){
    .grid{
        grid-template-columns: 1fr 1fr;
        padding: 2rem;
        grid-gap: 2rem;
        margin-top: 170vh;
        margin-bottom: 10vh;
    }
    .grid-container{
        height: 15rem;
    }
}
@media only screen and (max-width: 770px){
    .grid{
        grid-template-columns: 1fr;
        padding: 1rem;
        grid-gap: 1rem;
        margin-top: 190vh;
        margin-bottom: 0vh;
    }
    .grid-container{
        height: 10rem;
    }
    .cata-photo{
        height: 7rem;
    }
    .cata-down-button{
        height: 2rem;
        width: 7rem;
        font-size: large;
    }
    .cata-p{
        font-size: large;
    }
}

@media only screen and (max-width: 430px){
    .grid{
        grid-gap: 2rem;
        margin-top: 190vh;
    }
    .cata-down-button{
        height: 2rem;
        width: 5rem;
        font-size: small;
    }
    .cata-p{
        font-size: small;
    }
    .box{
        gap: 0;
    }
}
@media only screen and (max-width: 380px){
    .grid{
        grid-template-columns: 1fr;
        padding: 1rem;
        grid-gap: 8rem;
        margin-top: 330vh;
        margin-bottom: 0vh;
    }
    .grid-container{
        height: 10rem;
        grid-template-columns: 1fr;
    }
    .cata-photo{
        height: 7rem;
    }
    .box{
        gap: 0.5rem;
    }
    .cata-down-button{
        height: 1.5rem;
        width: 7rem;
        font-size: small;
    }
    .cata-p{
        font-size: small;
    }
}
@media only screen and (max-width: 320px){
    .grid{
        grid-template-columns: 1fr;
        padding: 1rem;
        grid-gap: 11.5rem;
        margin-top: 330vh;
        margin-bottom: 0vh;
    }
    .grid-container{
        height: 10rem;
        grid-template-columns: 1fr;
    }
    .cata-photo{
        height: 7rem;
    }
}


@media (max-width: 1024px){
    header .navbar ul{
        font-size: 1rem;
    }
    .front-heading h1{
        font-size: 1.5rem;
        letter-spacing: 0.1rem;
    }
    .front-heading .para{
        font-size: 0.9rem;
    }
    .list img{
        width: 35vh;
        height: 35vh;
        position: relative;
        left: 5rem;
        top: 0rem;
    }
    .buttons button{
        width: 40px;
        height: 40px;
    }
    .aboutus h3{
        font-size: 1.8rem;
    }
    .aboutus p{
        font-size: 1rem;
    }
    .products{
        padding: 0rem 0 2rem 0;
        background: rgba(64,93,171,255);
    }
    .product-range{
        gap: 2rem;
    }
    footer a{
        font-size: 1rem;
    }
    footer h1{
        font-size: 1rem;
    }
    footer h4{
        font-size: 1.5rem;
    }
    footer p,li{
        font-size: 1rem;
    }
    footer .install .row i{
        padding: 1.5rem 1.5rem;
        font-size: 40px;
        border: 7px solid grey;
        border-radius: 6px;
    }
    .popup-box a{
        font-size: 1rem;
    }
    
}
@media (max-width: 768px){
    header .navbar ul{
        font-size: 0.8rem;
        gap: 2rem;
    }
    .companyphoto{
        height: 7vh;
        width: 30vh;
    }
    .front-heading h1{
        font-size: 1.2rem;
        letter-spacing: 0.1rem;
    }
    .front-heading .para{
        font-size: 0.7rem;
    }
    .list img{
        width: 30vh;
        height: 30vh;
        position: relative;
        left: 3rem;
        top: 0rem;
    }
    .buttons button{
        width: 35px;
        height: 35px;
    }
    .dots li{
        width: 8px;
        height: 8px; 
    }
    .aboutus{
        gap: 5rem;
    }
    .aboutus .logo{
        width: 40vh;
    }
    .aboutus h3{
        font-size: 1.5rem;
    }
    .aboutus p{
        font-size: 0.8rem;
    }
    .products h1{
        padding: 4rem;
        font-size: 1.5rem;
    }
    .r{
        height: 45vh;
        width: 40vh;
    }
}
@media (max-width: 768px){
    nav{
        position: absolute;
        top: 12%;
        left: -100%;
        width: 100%;
        height: 100vh;
        background: rgb(0, 0, 0);

        display: flex;
        justify-content: center;
        align-items: top;

        transform: translateX(100%);
        transition: all 0.3s linear;

        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        overflow-x: hidden;
    }
    .navbar-list{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;

        position: relative;
        top: 20%;
    } 
    .mobile-navbar-btn{
        display: block;
        z-index: 9999;
    }
    .active nav{
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
        transform: translateX(0);
        z-index: 999;
        left: 0%;
    }
    .active nav .navbar a{
        color: rgb(255, 255, 255);
    }
    .active .mobile-navbar-btn .close{
        display: block;
        color: rgb(255, 255, 255);
    }
    .active .mobile-navbar-btn .menu{
        display: none;
    }
    .companyphoto{
        height: 8vh;
        width: 40vh;
    }
    .r{
        height: 40vh;
        width: 35vh;
    }
    .r .img1{
        width: 30vh;
    }
    .r .img2{
        width: 20vh;
    }
    .r .img3{
        width: 25vh;
    }
    .r h2{
        font-size: 0.8rem;
    }
    .product-range{
        gap: 2rem;
        padding: 0 0rem;
    }
    .popup-box a{
        font-size: 0.8rem;
    }
}
@media (max-width: 450px){
    header .navbar ul{
        font-size: 1rem;
    }
    .companyphoto{
        height: 7vh;
        width: 35vh;
    }
    .front-heading{
        background-image: url("./photos/first-background.jpg");
        background-size: cover;
        background-position: center;
        height: 72vh;
        padding: 2rem 0 0 0;
        gap: 2rem;
    
        display: flex;
        justify-content: center;
        align-items: center;  
        flex-direction: column; 
    }
    .front-heading h1{
        font-size: 1rem;
        letter-spacing: 0.1rem;
        display: flex;
        justify-content: center;
        align-items: center;

        text-align: center;
    }
    .front-heading .para{
        font-size: 0.7rem;
        text-align: center;
    }
    .slider{
    width: 48vh;
    }
    .buttons button{
        width: 35px;
        height: 35px;
    }
    .buttons{
        width: 90%;
    }
    .dots{
        left: 0px;
        width: 100%;
    }
    .list img{
        width: 30vh;
        height: 30vh;
        position: relative;
        left: 5rem;
        top: -1rem;
    }
    .partnership-logos{
        justify-content: center;
        gap: 1rem;
    }
    .partnership-logos h1{
        font-family: 'Libre Franklin', sans-serif;
        font-size: 1.5rem;
    }
    .partnership-logos .logos .logo{
        height: 10vh;
    }
    .logos{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }
    .catalogue{
        padding: 1.5rem;
    }
    .catalogue h1{
        font-size: 1.5rem;
    }
    .btn-catalogue{
        font-size: 1rem;
    }
    .aboutus{
        flex-direction: column;
        text-align: center;
        gap: 2rem;
    }
    .product-range{
        flex-direction: column;
    }
    footer a{
        font-size: 0.8rem;
    }
    footer h1{
        font-size: 0.6rem;
    }
    footer h4{
        font-size: 1rem;
    }
    footer p,li{
        font-size: 1rem;
    }
    footer .install .row i{
        padding: 1.5rem 1.5rem;
        font-size: 40px;
        border: 7px solid grey;
        border-radius: 6px;
    }
    .popup-box a{
        font-size: 0.9rem;
    }
}


